<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asis.myasis">

    <application
        android:allowBackup="true"
        android:fontFamily="@font/century_gothic"
        android:icon="@mipmap/ic_launcher"
        android:label="Riwayat Absensi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:fontFamily="@font/century_gothic"
            android:label="Detail Absensi" />
        <activity android:name=".AddDataActivity" android:label="Tambah Absen"></activity>
    </application>

</manifest>